<ion-header class="ion-no-border">
	<ion-toolbar>
		<!-- <ion-title>forgotpassword</ion-title> -->
		<ion-buttons slot="start">
		<ion-back-button defaulthref="login" text="">
		</ion-back-button>
		</ion-buttons>
	</ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
              Forgot Password
            </ion-card-title>
            <ion-card-subtitle>
              <h3>Start forgot password proccess</h3>
            </ion-card-subtitle>
        </ion-card-header>

       <ion-card-content>
           <ion-item>
               <ion-input name="email" type="text" placeholder="Email">
                 <ion-icon name="mail-outline" ></ion-icon>
               </ion-input>
           </ion-item>


           <div class="sign-btn-wrap">
              	<ion-button  shape="round"  fill="solid" class="sign-btn">Start</ion-button>
            </div>

       </ion-card-content>

    </ion-card>

</ion-content>