<ion-header class="ion-no-border">
    <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button defaultHref="home"></ion-back-button>
		</ion-buttons>
    </ion-toolbar>
</ion-header>
  
<ion-content fullscreen="true">

	<div class="ion-padding-horizontal">
		<ion-row>
			<ion-col size="12">
				<h4>SOUL CARE GARDEN HOTEL INVOICE</h4>
			</ion-col>
		</ion-row>
		
		<ion-card-content>
			<br>
			<ion-row>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Branch Name : </b> no 34 unity roed ilorin kwara</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Address : </b> {{ address }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Room Number : </b> {{ no }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Room Type : </b> {{ d_type }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Room Price : </b> {{ price }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Number of days : </b> {{ days }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>Start At : </b> {{ start_at }}</h2></ion-card-subtitle>
				</ion-col>
				<br>
				<br>
				<ion-col size="12">
					<ion-card-subtitle><h2><b>End At : </b> {{ end_at }}</h2></ion-card-subtitle>
				</ion-col>
				
			</ion-row>
		</ion-card-content>

	</div>
  
		
  
  </ion-content>
  