<ion-header class="ion-no-border">
    <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
  
  <div class="ion-padding-horizontal">
    
    <ion-card-content>
      <br>
      <br>
      <br>
      <br>
      <ion-row>
		<ion-col size="12">
			<ion-card-title><h1><b>VIRTUAL QUEUE MANAGEMENT SYSTEM</b></h1></ion-card-title>
		</ion-col>
		<br>
		<br>
		<br>
		<br>
		<br>
		<ion-col size="12">
			<ion-card-title><h1><b>SYSTEM DESIGN BY</b></h1></ion-card-title>
		</ion-col>
		<br>
		<br>
		<br>
		<br>
		<ion-col size="12">
			<ion-card-title><h1><b>MUBARAK IASH</b></h1></ion-card-title>
		</ion-col>
      </ion-row>
    </ion-card-content>
  
  </div>
    
  
</ion-content>
  