<ion-header class="ion-no-border">
	<ion-toolbar>
		<!-- <ion-title>login</ion-title> -->
		<ion-buttons slot="start">
			<ion-back-button defaulthref="login" text="">
			</ion-back-button>
		</ion-buttons>
	</ion-toolbar>
	  
</ion-header>
	  
<ion-content class="bg-color">

	<ion-card class="ion-no-margin">
		<ion-img src="assets/images/login.png"></ion-img>

		<ion-card-content>
			<ion-item>
				<ion-input name="email" [(ngModel)]="postData.email" type="text" placeholder="Email">
				<ion-icon name="mail-outline" ></ion-icon>
				</ion-input>
			</ion-item>

			<ion-item>
				<ion-input type="password" [(ngModel)]="postData.password" name="password" placeholder="**************" >
				<ion-icon name="lock-closed"></ion-icon>
				</ion-input>
			</ion-item>

			<div class="password_forgot">
				<ion-button routerLink="/forgotpassword" fill="clear" class="ion-no-padding">ForgotPassword?</ion-button>
			</div>

			<div class="sign-btn-wrap">
				<ion-button (click)="loginAction()"  shape="round"  fill="solid" class="sign-btn">Login</ion-button>
			</div>

			<div class="text-tag">
				<span>Login Via</span>
			</div>

			<div class="social-btns">
				<ion-button fill="clear"  class="facebookbtn ion-no-padding">
					<ion-img src="assets/images/facebook.png"></ion-img>
				</ion-button>
				<ion-button fill="clear"  class="googlebtn ion-no-padding">
					<ion-img src="assets/images/google.png"></ion-img>
				</ion-button>
				<ion-button fill="clear"  class="applebtn ion-no-padding">
					<ion-img src="assets/images/apple.png"></ion-img>
				</ion-button>

			</div>

		</ion-card-content>

	</ion-card>

</ion-content>
